/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0px;
    font-family: 'Courier Prime', monospace;
    color: #00FF00;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5)), url('./background.gif');
    user-select: none;
    background-size: 38vw 60vh;
}

.submitBtn,
input[type=file] {
    border: 2px solid #00FF00;
    color: #00FF00;
    outline: none;
    padding: 0px 10px;
    background-color: transparent;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"]:hover {
    background-color: #516e51;
    cursor: pointer;
}

.submitBtn:hover,
input[type=file]:hover {
    cursor: pointer;
    background-color: #516e51;
    color: white;
    border-color: white;
}

a {
    color: rgb(189, 185, 185);
    text-decoration: none;
}

a:hover {
    color: rgb(214, 211, 211);
}

.current-main-content {
    min-height: calc(100vh - 105px);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

fieldset {
    border: 2px solid #00FF00;
    padding: 20px 20px 40px;
    background-color: rgba(30, 33, 30, 0.8);
    /* background-color: #1f221f; */
    position: relative;
}

.validation-error {
    font-size: 10px;
    font-weight: lighter;
    color: rgb(255, 115, 115);
}