.current-main-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10% 0 0;
}

fieldset {
    margin: 0;
}