<div class="container current-main-content">
    <div *ngIf="twitList && isLogged">
        <app-twit *ngFor="let twit of twitList" [twit]="twit"></app-twit>
        <div *ngIf="twitList.length === 0">No Twits!</div>
    </div>
    <div class="welcome" *ngIf="!isLogged">
        <p class="welcome title">WELCOME TO "MY TWITTER"</p>
        <p class="welcome extra">The place where life is twits.</p>
        <p>You can <a href="#" [routerLink]="['/user/login']">log in</a> or if you don't have an account yet,
            <a href="#" [routerLink]="['/user/register']">create one.</a></p>
    </div>
</div>