input {
    /* background-color: #1f221f; */
    border: none;
    outline: none;
    color: #00FF00;
    margin: 0px 0px 5px;
    padding: 0px;
    text-align: center;
    background-color: rgba(31, 34, 31, 0.6);
}

::placeholder {
    color: #00ff0041;
    text-align: center;
}

label {
    margin: 0;
    padding: 5px 0px 0px;
}

input:focus {
    background-color: #262c26;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}