<app-header></app-header>
<fieldset>
    <legend>register</legend>
    <form action="">
        <label for="email">-email-</label>
        <input type="text" name="email" placeholder="address@example.com">

        <label for="username">-username-</label>
        <input type="text" name="username" placeholder="ivan">

        <label for="password">-password-</label>
        <input type="password" name="password" placeholder="1234">

        <label for="confirm password">-confirm password-</label>
        <input type="password" name="confirm password" placeholder="1234">

        <button type="submit">register</button>
    </form>
</fieldset>
<app-footer></app-footer>