<app-header></app-header>
<div class="container">
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
    <div class="twit">
        <p class="twitcontent">
            Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
        </p>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
</div>
<app-footer></app-footer>