.twit {
    background-color: #1f221f;
    border: 1px solid #00FF00;
    outline: none;
    color: #00FF00;
    margin: 3px 0px;
    padding: 0px;
    text-align: center;
    padding: 2px 10px 0px 20px;
}

textarea:focus {
    background-color: #262c26;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px auto;
}

.postedby {
    text-align: right;
    margin: 0px;
}

.twitcontent {
    text-align: left;
}