*{
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0 50px 0;
    background-color: rgb(212, 194, 194);
    min-height: 100vh;
}
  
h1 {
    color: navy;
    margin-left: 20px;
}

.home-about{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width:40%;
    margin: 5% 28% 10% 28%;
    box-shadow: 0px 0px 17px 1px grey;
    padding: 2% 0;
    border-radius: 6px;
}

.home-about img{
    width: 100%;
}

.home-about p{
    margin: 5%;
}