<div class="twit">
    <p class="twitcontent">
        Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone. Here is the content of the twit that is posted by someone.
    </p>
    <div class="twitExtras">
        <div class="twitVotes">
            <button class="like"><i class="far fa-smile"></i></button>
            <span class="likes-count">12</span>
            <button class="dislike"><i class="far fa-frown-open"></i></button>
            <span class="dislikes-count">3</span>
        </div>
        <p class="postedby">Posted by: <a href="#">ivan</a></p>
    </div>
</div>