<app-header></app-header>
<div class="current-main-content" @fade>

    <p (click)="switchMode()" id="changeBtn">Top liked posts</p>
    <div *ngIf="isLogged" id="topLikedTwits">
        <app-twit *ngFor="let twit of currentMostLikedTwits" [twit]="twit"></app-twit>
        <div *ngIf="currentMostLikedTwits.length === 0">No Twits!</div>
    </div>

    <div *ngIf="isLogged" id="topDislikedTwits" style="display: none;">
        <app-twit *ngFor="let twit of currentMostDislikedTwits" [twit]="twit"></app-twit>
        <div *ngIf="currentMostDislikedTwits.length === 0">No Twits!</div>
    </div>

</div>
<app-footer></app-footer>